


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE EXTENSION IF NOT EXISTS "pg_net" WITH SCHEMA "extensions";






COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE EXTENSION IF NOT EXISTS "pg_stat_statements" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "pgcrypto" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "supabase_vault" WITH SCHEMA "vault";






CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA "extensions";






CREATE TYPE "public"."job_event_type" AS ENUM (
    'started',
    'finished',
    'failed',
    'retrying'
);


ALTER TYPE "public"."job_event_type" OWNER TO "postgres";


CREATE TYPE "public"."job_step" AS ENUM (
    'research',
    'outline',
    'script_direction',
    'brand_safety_check',
    'voiceover',
    'subtitle_extraction',
    'assets',
    'scene_preview',
    'scene_render',
    'composition',
    'rendering',
    'thumbnail',
    'metadata',
    'cost_reconciliation',
    'upload',
    'notify'
);


ALTER TYPE "public"."job_step" OWNER TO "postgres";


CREATE TYPE "public"."log_level" AS ENUM (
    'debug',
    'info',
    'warn',
    'error'
);


ALTER TYPE "public"."log_level" OWNER TO "postgres";


CREATE TYPE "public"."rig_style" AS ENUM (
    'stickman',
    'branded_character'
);


ALTER TYPE "public"."rig_style" OWNER TO "postgres";


CREATE TYPE "public"."scene_visual_type" AS ENUM (
    'character_animation',
    'broll',
    'ai_image',
    'kinetic_typography',
    'avatar'
);


ALTER TYPE "public"."scene_visual_type" OWNER TO "postgres";


CREATE TYPE "public"."video_status" AS ENUM (
    'draft',
    'queued',
    'generating',
    'awaiting_approval',
    'rendered',
    'failed',
    'completed',
    'cancelled',
    'paused'
);


ALTER TYPE "public"."video_status" OWNER TO "postgres";


CREATE TYPE "public"."video_style" AS ENUM (
    'stickman_animation',
    'documentary',
    'kinetic_typography',
    'avatar_narration',
    'mixed_custom'
);


ALTER TYPE "public"."video_style" OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_updated_at_column"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  NEW.updated_at = timezone('utc', now());
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_updated_at_column"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."animation_rigs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "workspace_id" "uuid",
    "cloned_from_rig_id" "uuid",
    "name" character varying(100) NOT NULL,
    "style" "public"."rig_style" DEFAULT 'stickman'::"public"."rig_style",
    "available_actions" "text"[] NOT NULL,
    "rig_config" "jsonb" NOT NULL,
    "version" integer DEFAULT 1 NOT NULL,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL
);


ALTER TABLE "public"."animation_rigs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."cost_ledger_entries" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "project_id" "uuid" NOT NULL,
    "job_step" "public"."job_step" NOT NULL,
    "provider" character varying(60) NOT NULL,
    "amount_usd" numeric(10,5) NOT NULL,
    "units_consumed" numeric(12,4),
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL
);


ALTER TABLE "public"."cost_ledger_entries" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."job_events" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "job_id" "uuid" NOT NULL,
    "event_type" "public"."job_event_type" NOT NULL,
    "job_step" "public"."job_step" NOT NULL,
    "message" "text",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."job_events" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."jobs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "project_id" "uuid" NOT NULL,
    "current_step" "public"."job_step" NOT NULL,
    "progress" integer DEFAULT 0 NOT NULL,
    "attempt_count" integer DEFAULT 0 NOT NULL,
    "error_log" "text",
    "state_payload" "jsonb",
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "cancel_requested_at" timestamp with time zone,
    "cancel_requested_by" "uuid",
    "cancelled_at" timestamp with time zone,
    "cancel_reason" "text",
    "pause_requested_at" timestamp with time zone,
    "pause_requested_by" "uuid"
);


ALTER TABLE "public"."jobs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."pipeline_logs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "job_id" "uuid" NOT NULL,
    "stage" "public"."job_step",
    "level" "public"."log_level" NOT NULL,
    "source" character varying(255) NOT NULL,
    "message" "text" NOT NULL,
    "metadata" "jsonb" DEFAULT '{}'::"jsonb",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."pipeline_logs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."projects" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "channel_id" "uuid",
    "user_id" "uuid" NOT NULL,
    "title" character varying(255) NOT NULL,
    "topic" "text" NOT NULL,
    "language" character varying(10) DEFAULT 'en'::character varying,
    "video_style" "public"."video_style" DEFAULT 'stickman_animation'::"public"."video_style" NOT NULL,
    "style_preset_id" "uuid",
    "status" "public"."video_status" DEFAULT 'draft'::"public"."video_status" NOT NULL,
    "cost_accumulated" numeric(10,4) DEFAULT 0.0000,
    "duration_target_minutes" smallint DEFAULT 20,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL
);


ALTER TABLE "public"."projects" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."scene_versions" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "scene_id" "uuid" NOT NULL,
    "version_number" integer NOT NULL,
    "script_segment" "text" NOT NULL,
    "visual_type" "public"."scene_visual_type" NOT NULL,
    "animation_rig_id" "uuid",
    "animation_action" character varying(64),
    "typography_template" character varying(64),
    "camera_style" character varying(32),
    "background_broll_url" "text",
    "transition" character varying(32) DEFAULT 'fade'::character varying,
    "emotional_tone" character varying(32),
    "broll_search_keywords" "text",
    "visual_prompt" "text",
    "created_by" "uuid",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL
);


ALTER TABLE "public"."scene_versions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."scenes" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "project_id" "uuid" NOT NULL,
    "sequence_number" integer NOT NULL,
    "current_version_id" "uuid",
    "voiceover_url" "text",
    "voiceover_word_timings" "jsonb",
    "preview_url" "text",
    "render_url" "text",
    "render_status" "public"."video_status" DEFAULT 'draft'::"public"."video_status" NOT NULL,
    "duration" numeric(6,2) DEFAULT 0.00,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL
);


ALTER TABLE "public"."scenes" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."video_style_presets" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "workspace_id" "uuid",
    "style" "public"."video_style" NOT NULL,
    "name" character varying(100) NOT NULL,
    "visual_type_weights" "jsonb" NOT NULL,
    "default_rig_id" "uuid",
    "default_camera_pacing" character varying(30) DEFAULT 'medium'::character varying,
    "default_transition" character varying(30) DEFAULT 'fade'::character varying,
    "allow_scene_override" boolean DEFAULT true NOT NULL,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL
);


ALTER TABLE "public"."video_style_presets" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."workspaces" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "owner_id" "uuid" NOT NULL,
    "name" character varying(120) NOT NULL,
    "plan" character varying(30) DEFAULT 'starter'::character varying NOT NULL,
    "monthly_cost_cap_usd" numeric(10,2) DEFAULT 50.00,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL
);


ALTER TABLE "public"."workspaces" OWNER TO "postgres";


ALTER TABLE ONLY "public"."animation_rigs"
    ADD CONSTRAINT "animation_rigs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."cost_ledger_entries"
    ADD CONSTRAINT "cost_ledger_entries_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."job_events"
    ADD CONSTRAINT "job_events_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."jobs"
    ADD CONSTRAINT "jobs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."pipeline_logs"
    ADD CONSTRAINT "pipeline_logs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."projects"
    ADD CONSTRAINT "projects_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."scene_versions"
    ADD CONSTRAINT "scene_versions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."scene_versions"
    ADD CONSTRAINT "scene_versions_scene_id_version_number_key" UNIQUE ("scene_id", "version_number");



ALTER TABLE ONLY "public"."scenes"
    ADD CONSTRAINT "scenes_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."scenes"
    ADD CONSTRAINT "scenes_project_id_sequence_number_key" UNIQUE ("project_id", "sequence_number");



ALTER TABLE ONLY "public"."video_style_presets"
    ADD CONSTRAINT "video_style_presets_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."workspaces"
    ADD CONSTRAINT "workspaces_pkey" PRIMARY KEY ("id");



CREATE INDEX "idx_cost_ledger_project" ON "public"."cost_ledger_entries" USING "btree" ("project_id", "job_step");



CREATE INDEX "idx_job_events_job_id" ON "public"."job_events" USING "btree" ("job_id");



CREATE INDEX "idx_jobs_project_step" ON "public"."jobs" USING "btree" ("project_id", "current_step");



CREATE INDEX "idx_pipeline_logs_created_at" ON "public"."pipeline_logs" USING "btree" ("created_at" DESC);



CREATE INDEX "idx_pipeline_logs_job_id" ON "public"."pipeline_logs" USING "btree" ("job_id");



CREATE INDEX "idx_projects_user_status" ON "public"."projects" USING "btree" ("user_id", "status");



CREATE INDEX "idx_scene_versions_scene" ON "public"."scene_versions" USING "btree" ("scene_id", "version_number" DESC);



CREATE INDEX "idx_scenes_project_seq" ON "public"."scenes" USING "btree" ("project_id", "sequence_number");



CREATE OR REPLACE TRIGGER "update_projects_updated_at" BEFORE UPDATE ON "public"."projects" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



ALTER TABLE ONLY "public"."animation_rigs"
    ADD CONSTRAINT "animation_rigs_cloned_from_rig_id_fkey" FOREIGN KEY ("cloned_from_rig_id") REFERENCES "public"."animation_rigs"("id");



ALTER TABLE ONLY "public"."animation_rigs"
    ADD CONSTRAINT "animation_rigs_workspace_id_fkey" FOREIGN KEY ("workspace_id") REFERENCES "public"."workspaces"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."cost_ledger_entries"
    ADD CONSTRAINT "cost_ledger_entries_project_id_fkey" FOREIGN KEY ("project_id") REFERENCES "public"."projects"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."scenes"
    ADD CONSTRAINT "fk_current_version" FOREIGN KEY ("current_version_id") REFERENCES "public"."scene_versions"("id");



ALTER TABLE ONLY "public"."job_events"
    ADD CONSTRAINT "job_events_job_id_fkey" FOREIGN KEY ("job_id") REFERENCES "public"."jobs"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."jobs"
    ADD CONSTRAINT "jobs_cancel_requested_by_fkey" FOREIGN KEY ("cancel_requested_by") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."jobs"
    ADD CONSTRAINT "jobs_pause_requested_by_fkey" FOREIGN KEY ("pause_requested_by") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."jobs"
    ADD CONSTRAINT "jobs_project_id_fkey" FOREIGN KEY ("project_id") REFERENCES "public"."projects"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."pipeline_logs"
    ADD CONSTRAINT "pipeline_logs_job_id_fkey" FOREIGN KEY ("job_id") REFERENCES "public"."jobs"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."projects"
    ADD CONSTRAINT "projects_style_preset_id_fkey" FOREIGN KEY ("style_preset_id") REFERENCES "public"."video_style_presets"("id");



ALTER TABLE ONLY "public"."projects"
    ADD CONSTRAINT "projects_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."scene_versions"
    ADD CONSTRAINT "scene_versions_animation_rig_id_fkey" FOREIGN KEY ("animation_rig_id") REFERENCES "public"."animation_rigs"("id");



ALTER TABLE ONLY "public"."scene_versions"
    ADD CONSTRAINT "scene_versions_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."scene_versions"
    ADD CONSTRAINT "scene_versions_scene_id_fkey" FOREIGN KEY ("scene_id") REFERENCES "public"."scenes"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."scenes"
    ADD CONSTRAINT "scenes_project_id_fkey" FOREIGN KEY ("project_id") REFERENCES "public"."projects"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."video_style_presets"
    ADD CONSTRAINT "video_style_presets_default_rig_id_fkey" FOREIGN KEY ("default_rig_id") REFERENCES "public"."animation_rigs"("id");



ALTER TABLE ONLY "public"."video_style_presets"
    ADD CONSTRAINT "video_style_presets_workspace_id_fkey" FOREIGN KEY ("workspace_id") REFERENCES "public"."workspaces"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."workspaces"
    ADD CONSTRAINT "workspaces_owner_id_fkey" FOREIGN KEY ("owner_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



CREATE POLICY "Service role can manage job events" ON "public"."job_events" USING (true) WITH CHECK (true);



CREATE POLICY "Users can view pipeline logs for their projects" ON "public"."pipeline_logs" FOR SELECT USING ((EXISTS ( SELECT 1
   FROM ("public"."jobs" "j"
     JOIN "public"."projects" "p" ON (("j"."project_id" = "p"."id")))
  WHERE (("j"."id" = "pipeline_logs"."job_id") AND ("p"."user_id" = "auth"."uid"())))));



CREATE POLICY "Users can view their job events via projects" ON "public"."job_events" FOR SELECT USING ((EXISTS ( SELECT 1
   FROM ("public"."jobs" "j"
     JOIN "public"."projects" "p" ON (("j"."project_id" = "p"."id")))
  WHERE (("j"."id" = "job_events"."job_id") AND ("p"."user_id" = "auth"."uid"())))));



ALTER TABLE "public"."job_events" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."pipeline_logs" ENABLE ROW LEVEL SECURITY;




ALTER PUBLICATION "supabase_realtime" OWNER TO "postgres";









GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";




























































































































































GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "service_role";


















GRANT ALL ON TABLE "public"."animation_rigs" TO "anon";
GRANT ALL ON TABLE "public"."animation_rigs" TO "authenticated";
GRANT ALL ON TABLE "public"."animation_rigs" TO "service_role";



GRANT ALL ON TABLE "public"."cost_ledger_entries" TO "anon";
GRANT ALL ON TABLE "public"."cost_ledger_entries" TO "authenticated";
GRANT ALL ON TABLE "public"."cost_ledger_entries" TO "service_role";



GRANT ALL ON TABLE "public"."job_events" TO "anon";
GRANT ALL ON TABLE "public"."job_events" TO "authenticated";
GRANT ALL ON TABLE "public"."job_events" TO "service_role";



GRANT ALL ON TABLE "public"."jobs" TO "anon";
GRANT ALL ON TABLE "public"."jobs" TO "authenticated";
GRANT ALL ON TABLE "public"."jobs" TO "service_role";



GRANT ALL ON TABLE "public"."pipeline_logs" TO "anon";
GRANT ALL ON TABLE "public"."pipeline_logs" TO "authenticated";
GRANT ALL ON TABLE "public"."pipeline_logs" TO "service_role";



GRANT ALL ON TABLE "public"."projects" TO "anon";
GRANT ALL ON TABLE "public"."projects" TO "authenticated";
GRANT ALL ON TABLE "public"."projects" TO "service_role";



GRANT ALL ON TABLE "public"."scene_versions" TO "anon";
GRANT ALL ON TABLE "public"."scene_versions" TO "authenticated";
GRANT ALL ON TABLE "public"."scene_versions" TO "service_role";



GRANT ALL ON TABLE "public"."scenes" TO "anon";
GRANT ALL ON TABLE "public"."scenes" TO "authenticated";
GRANT ALL ON TABLE "public"."scenes" TO "service_role";



GRANT ALL ON TABLE "public"."video_style_presets" TO "anon";
GRANT ALL ON TABLE "public"."video_style_presets" TO "authenticated";
GRANT ALL ON TABLE "public"."video_style_presets" TO "service_role";



GRANT ALL ON TABLE "public"."workspaces" TO "anon";
GRANT ALL ON TABLE "public"."workspaces" TO "authenticated";
GRANT ALL ON TABLE "public"."workspaces" TO "service_role";









ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";































